<%# app/views/chefs/show.html.erb %>
<a href="/restaurants">Restaurants Index</a>
<a href="/chefs">Chefs Index</a>

<h1><%= @chef.name %></h1>
<p>Which Restaurant: </p>
<p>Years Experience: <%= @chef.years_worked %></p>
<p>Works Days or Nights: <%= @chef.can_close %></p>

<a href="/chefs/<%= @chef.id %>/update">Update Chef</a>
