<a href="/eats">Eats Index</a>
<a href="/suppliers">Suppliers Index</a>

<h1>All Supply Trucks</h1>

<% @supply_trucks.each do |supply_truck| %>
<h2><a href="/supply_trucks/<%= supply_truck.id %>"></a></h2>
  <p>Driver Name: <%= supply_truck.driver_name %></p>
<% end %>
