<a href="/">Home</a>
<a href="/eats">Restaurants & Chefs</a>
<a href="/suppliers"> Supplier Index</a>




<h1>All Supply Trucks</h1>

<h1><% @supply_trucks.each do |supply_truck| %><h1>
  <h2>Truck: <a href="/supply_trucks/<%= supply_truck.id %>"><%= supply_truck.id %></a></h2>

<% end %>
