<%# app/views/restaurants/chefs.html.erb %>
<a href="/">Home  .</a>
<a href="/restaurants">.  Restaurants Index  .</a>
<a href="/chefs">.  Chefs Index</a>

<h1>Chefs at: <%= @restaurant.name %></h1>

<% @chefs.each do |chef| %>
  <h3><%= chef.name %>. ID:<%= chef.id %></h3>
  <h4>Can close?: <%= chef.can_close %></h4>
  <br>
<% end %>
