<%# app/views/restaurants/index.html.erb %>
<a href="/restaurants">Restaurants Index</a>
<a href="/chefs">Chefs Index</a>

<h1>Available Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <h2><a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></a></h2>
  <p>Serves Alcohol?: <%= restaurant.has_bar %></p>
<% end %>
