<%= link_to "Home", "/" %>
<%= link_to "Restaurants and Chefs", "/eats" %>

<h1>Wyatt's Supply Side</h1>

<ul>
  <li><a href="/suppliers"> Supplier Index</a></li>
  <li><a href="/supply_trucks">Supply Truck Index</a></li>
</ul>
