<%# app/views/eats/index.html.erb %>
<a href="/">Home  .</a>
<a href="/supply_side">.  Supply Side</a>

<h1>Restaurants & Chefs Listings</h1>

<ul>
  <li><a href="/restaurants"> Restaurants</a></li>
  <li><a href="/chefs"> Chefs</a></li>
</ul>
