<%# app/views/suppliers/show.html.erb %>
<a href="/">Home</a>
<a href="/eats">Restaurants & Chefs</a>
<a href="/supply_trucks">Supply Truck Index</a>

<h1><%= @supplier.name %></h1>
<p>Number of Employees: <%= @supplier.number_of_employees %></p>
<p>Open Weekends?: <%= @supplier.open_weekends %></p>
<a href="/suppliers/<%= @supplier.id %>/supply_trucks">Supply Trucks</a>
